@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
  padding-top: 63px;
  /* ヘッダーの高さに合わせて調整 */
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  color: #333;
}

@media (min-width: 768px) {
  body {
    padding-top: 114px;
    /* ヘッダーの高さに合わせて調整 */
  }
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

@media (max-width: 767px) {

  /* SPのみ改行するspan */
  .br-sp {
    display: block;
  }
}

@media (min-width: 768px) {

  /* pcのみ改行するspan */
  .br-pc {
    display: block;
  }
}

/* 部品
------------------------------------------ */

/* Montserratフォント */
.montserrat {
  font-family: Montserrat, sans-serif;
}

.cover-inner,
.about-inner,
.features-inner,
.products-inner,
.case-inner,
.news-inner {
  padding: 0 1rem;
}

h3 {
  text-align: center;
}

h3 span {
  display: block;
}

.green {
  font-size: 16px;
  font-weight: 600;
  color: #168352;
}

@media (min-width: 768px) {
  .green {
    font-size: 20px;
    font-weight: 600;
  }
}

.h3-font-size {
  font-size: 20px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .h3-font-size {
    font-size: 28px;
    line-height: 1.5;
  }
}

/* ボタン */
.button {
  display: inline-block;
  width: 300px;
  padding: 1.1rem 2.2rem 1.1rem;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-radius: 30px;
}


/* ヘッダー
------------------------------------------ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 63px;
  background-color: #fff;
  /* 必要に応じて */
}

@media (min-width: 768px) {
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    height: 114px;
    padding: 0 1rem;
    margin: 0 auto;
    background-color: #fff;
    /* 必要に応じて */
  }
}

.header h1 {
  padding-left: 1rem;
}

@media (min-width: 768px) {
  .header h1 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .header-logo img {
    width: 197px;
  }
}

/* ハンバーガーボタン */
.hamburger-button {
  position: absolute;
  top: 1.45rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

.hamburger-button-bar {
  width: 1.5rem;
  height: 0.125rem;
  background-color: #000;
}

.hamburger-button-bar:first-child {
  margin-bottom: 0.35rem;
}

.hamburger-button-bar:nth-child(2) {
  margin-bottom: 0.4rem;
}

/* ハンバーガーメニュー、ヘッダーナビ */
@media (max-width: 767px) {
  .hamburger-menu {
    position: fixed;
    top: 4rem;
    left: 4%;
    visibility: hidden;
    width: 92%;
    height: 13.125rem;
    background-color: #168352;
    border-radius: 1.5rem;
    opacity: 0;
    transition: all 0.6s;
  }
}

/* スライドイン後の位置の指定 */
.hamburger-menu-active {
  visibility: visible;
  opacity: 1;
}

/* アクティブ状態 */
.hamburger-menu-active {
  transform: translateX(0);
}

.hamburger-menu-list-group {
  padding-top: 1.1rem;
}

@media (min-width: 768px) {
  .hamburger-menu-list-group {
    display: flex;
    column-gap: 2.3rem;
    padding-top: 0;
    font-weight: bold;
  }
}

@media (max-width: 767px) {
  .hamburger-menu a {
    display: block;
    padding: 0.8rem 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
}

.hamburger-menu li:nth-child(1) {
  margin-right: 0.3rem;
}

.hamburger-menu li:nth-child(2) {
  margin-left: 4px;
  letter-spacing: 0.3px;
}

.sp-only {
  display: block;
}

@media (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

/* cover
------------------------------------------ */
.cover-container {
  padding-top: 0.5rem;
}

@media (max-width: 767px) {
  .cover-container {
    width: 385px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .cover-container {
    display: flex;
    column-gap: 4rem;
    max-width: 1100px;
    padding-top: 2rem;
    margin: 0 auto;
    line-height: 1.85;
  }
}

.cover h2 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .cover h2 {
    width: 94%;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.cover p {
  margin-bottom: 1.6rem;
  font-size: 15px;
}

@media (min-width: 768px) {
  .cover p {
    margin-top: 0.9rem;
    margin-bottom: 0;
  }
}

.cover-img {
  text-align: center;
}

@media (min-width: 768px) {
  .cover-img {
    margin-top: 3.6rem;
  }
}


/* About
------------------------------------------ */
.about-title {
  padding-top: 2.6rem;
  margin-bottom: 1.4rem;
  font-size: 1.75rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .about-title {
    padding-top: 2.8rem;
    margin-bottom: 1.7rem;
  }
}

@media (max-width: 767px) {
  .inner-bottom {
    height: 545px;
    padding: 2rem 1rem;
    background-image: url("/web-site/assets/image/about_img_sp.jpg");
    background-size: cover;
  }

  .about-text {
    width: 358px;
    margin: 0 auto;
  }

  .about-text-inner {
    padding: 1rem 1.5rem 1.2rem;
    background-color: rgb(255 255 255 / 80%);
    border-radius: 8%;
  }
}

@media (min-width: 768px) {
  .about-text {
    display: flex;
    column-gap: 16.6%;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 954.63px;
    padding-bottom: 3.9rem;
    margin: 0 auto;
    transform: translateX(-5px);
  }

  .about-text-inner {
    flex: 42.45%;
    max-width: 26rem;
    padding-bottom: 0.3rem;
  }
}

.about-text-top {
  margin-bottom: 0.6rem;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .about-text-top {
    /* margin-top: 1rem; */
    margin-bottom: 1.7rem;
    font-size: 20px;
  }
}

.about-text-bottom {
  font-size: 15px;
  line-height: 1.75;
}

@media (min-width: 768px) {
  .about-text-bottom {
    line-height: 1.75;
  }
}

@media (min-width: 768px) {
  .about-img {
    flex: 40.88%;
  }
}

.pc-only {
  display: none;
}

@media (min-width: 768px) {
  .pc-only {
    display: block;
    width: 100%;
  }
}

/* features
------------------------------------------ */
.features {
  background-color: #f3f9f6;
}

.features-inner {
  padding-bottom: 2.2rem;
}

@media (min-width: 768px) {
  .features-inner {
    padding-bottom: 2.9rem;
  }
}

.features-title {
  padding-top: 3rem;
  margin-bottom: 1.4rem;
}

@media (min-width: 768px) {
  .features-title {
    padding-top: 3.4rem;
    margin-bottom: 1.6rem;
  }
}

.features-list-group {
  width: 360px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .features-list-group {
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
    width: 100%;
    max-width: 1167px;
  }
}

.features-list-item {
  width: 358px;
  margin-bottom: 1.1rem;
  background-color: #fff;
  border-radius: 10%;
}

@media (min-width: 768px) {
  .features-list-item {
    width: 368px;
  }
}

.features-list-item-text {
  padding: 0 1rem 1rem;
  margin-top: 0.3rem;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

@media (min-width: 768px) {
  .features-list-item-text {
    padding: 0 1.2rem 1rem;
    font-size: 19px;
  }
}

/* Products　/ Service
------------------------------------------ */
.products-inner {
  padding-bottom: 2.2rem;
}

@media (min-width: 768px) {
  .products-inner {
    padding-bottom: 2.6rem;
  }
}

.products-title {
  padding-top: 3.1rem;
  margin-bottom: 1.4rem;
}

@media (min-width: 768px) {
  .products-title {
    padding-top: 3.55rem;
    margin-bottom: 1.8rem;
  }
}

@media (min-width: 768px) {
  .products-list-group {
    max-width: 1100px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .products-list-group-top {
    display: flex;
    column-gap: 3rem;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .products-list-group-bottom {
    display: flex;
    column-gap: 4.5%;
    justify-content: center;
  }
}

.products-list-item {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  height: 140px;
  padding: 0 1.5rem;
  margin-bottom: 1.25rem;
  background-color: #168352;
  border-radius: 24px;
}

@media (min-width: 768px) {
  .products-list-item.first,
  .products-list-item.second {
    column-gap: 1.85rem;
    width: 32.8125rem;
    height: 180px;
    padding: 0 1.9rem;
    margin-bottom: 2.5rem;
  }
}



@media (min-width: 768px) {
  .products-list-item.first {
    position: relative;
    background-color: #168352;
    transition: background 0.3s;
  }

  .products-list-item.first .products-list-item-text {
    position: relative;
    color: #fff;
    transition: color 0.3s;
  }

  .products-list-item.first .products-list-item-text::before {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #168352;
    white-space: nowrap;
    pointer-events: none;
    content: "ロボット技術";
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
  }

  .products-list-item.first:hover {
    background-color: #dffaec;
  }

  .products-list-item.first:hover .products-list-item-text {
    color: transparent;
  }

  .products-list-item.first:hover .products-list-item-text::before {
    opacity: 1;
  }
}



@media (min-width: 768px) {
  .products-list-item.three,
  .products-list-item.four,
  .products-list-item.five {
    column-gap: 0.4rem;
    width: 31%;
    height: 150px;
    padding: 0 1rem 0 1.5rem;
  }
}

.products-list-item img {
  margin-top: 0.4rem;
}

@media (min-width: 768px) {
  .products-list-item.three img,
  .products-list-item.four img,
  .products-list-item.five img {
    width: 110px;
  }
}

.products-list-item p {
  width: 12rem;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

@media (min-width: 768px) {
  .products-list-item p {
    width: 58%;
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .products-list-item.three p,
  .products-list-item.four p,
  .products-list-item.five p {
    margin: 0 0 0 0.8rem;
    font-size: 20px;
  }
}

/* Case
------------------------------------------ */
.case {
  background-color: #f3f9f6;
}

.case-inner {
  padding-bottom: 1.4rem;
}

@media (min-width: 768px) {
  .case-inner {
    padding-bottom: 0;
  }
}

.case-title {
  padding-top: 3rem;
  margin-bottom: 1.4rem;
}

@media (min-width: 768px) {
  .case-title {
    padding-top: 3.55rem;
    margin-bottom: 1.4rem;
  }
}

.case-list-group {
  width: 360px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .case-list-group {
    display: flex;
    column-gap: 1.875rem;
    justify-content: center;
    width: 100%;
    max-width: 1167px;
    padding-bottom: 3.7rem;
    margin: 0 auto;
  }
}

.case-list-item {
  margin-bottom: 1.7rem;
}

@media (min-width: 768px) {
  .case-list-item {
    width: 369px;
    margin-bottom: 0;
  }
}

.case-list-item p {
  padding-left: 2px;
  font-size: 18px;
  font-weight: bold;
  color: #09947b;
}

@media (min-width: 768px) {
  .case-list-item p {
    padding-left: 0;
    margin-top: 0.2rem;
    font-size: 19px;
  }
}

/* News
------------------------------------------ */

.news-inner {
  padding-bottom: 3.8rem;
}

@media (min-width: 768px) {
  .news-inner {
    padding-bottom: 4.4rem;
  }
}

.news-title {
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .news-title {
    max-width: 900px;
    padding-top: 3.4rem;
    padding-bottom: 0.3rem;
    margin: 0 auto;
  }
}

.news h3 {
  border-bottom: 1px solid #DDD;
}

.news .h3-font-size {
  margin-bottom: 1.35rem;
}

.news-list {
  margin-bottom: 1.6rem;
}

@media (min-width: 768px) {
  .news-list {
    max-width: 900px;
    padding-bottom: 2rem;
    margin: 0 auto;
  }
}

.news .news-list li {
  padding: 0.8rem 0 0.6rem;
  border-bottom: 1px solid #DDD;
}

@media (min-width: 768px) {
  .news .news-list li {
    padding: 0.3rem 0 1.1rem;
  }
}

@media (min-width: 768px) {
  .news .news-list li:nth-child(2) {
    padding: 0.3rem 0 1.1rem;
  }
}

@media (min-width: 768px) {
  .news .news-list li:nth-child(3) {
    padding: 0.25rem 0 1rem;
  }
}

@media (min-width: 768px) {
  .news .news-list li:nth-child(4) {
    padding: 0.35rem 0 1.1rem;
  }
}

@media (min-width: 768px) {
  .news .news-list li:nth-child(5) {
    padding: 0.3rem 0 1rem;
  }
}

@media (min-width: 768px) {
  .news .news-list li:nth-child(6) {
    padding: 0.4rem 0 1rem;
  }
}

.news-date {
  font-size: 15px;
}

@media (min-width: 768px) {
  .news-date {
    font-size: 14px;
  }
}

.news-badge {
  display: inline-block;
  width: 8.375rem;
  padding: 0.4rem 0 0.5rem;
  margin-top: 0.2rem;
  margin-left: 0.85rem;
  font-size: 13px;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #473221;
  border-radius: .3rem;
}

@media (min-width: 768px) {
  .news-badge {
    margin-left: 0.95rem;
  }
}

.news-text {
  display: block;
  margin-top: 0.6rem;
  font-size: 15px;
}

@media (min-width: 768px) {
  .news-text {
    display: inline-block;
    margin-left: 1.2rem;
  }
}

/* ボタン */
.news-button {
  text-align: center;
}

.button-green {
  background-color: #168352;
  box-shadow: 0 5px #066655;
}

.button-green:hover {
  box-shadow: unset;
  transform: translateY(4px);
}

/* footer
------------------------------------------ */
.footer {
  height: 68px;
  padding: 1.15rem;
  text-align: center;
  background-color: #168352;
}

@media (min-width: 768px) {
  .footer {
    height: 96px;
    padding: 2.05rem 0;
  }
}

.footer .flex {
  display: flex;
  column-gap: 2.1rem;
  justify-content: center;
}

.footer-nav-list-group li:not(:last-child) {
  position: relative;
}

.footer-nav-list-group li:not(:last-child)::after {
  position: absolute;
  top: 20%;
  left: 108%;
  width: 1px;
  height: 20px;
  margin: 0 10px;
  content: "";
  background-color: #FFF;
}

@media (min-width: 768px) {
  .footer-nav-list-group li:not(:last-child)::after {
    position: absolute;
    top: 8%;
    left: 110%;
    width: 1px;
    height: 24px;
    margin: 0 10px;
    content: "";
    background-color: #FFF;
  }
}

.footer-nav a {
  font-size: 13px;
  color: #fff;
}

@media (min-width: 768px) {
  .footer-nav a {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .footer-nav li:nth-child(2) a {
    margin-left: 0.5rem;
    font-size: 14px;
  }
}



/* price
all
------------------------------------------ */
.pricecover-inner,
.breadcrumb,
.gallery-inner,
.pricefeatures-inner,
.price-inner,
.spec-inner,
.contact-inner {
  padding: 0 1rem;
}

.gallery-title,
.pricefeatures-title,
.price-title,
.spec-title,
.contact-title {
  position: relative;
  margin-bottom: 1.9rem;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

@media (min-width: 768px) {
  .gallery-title,
  .pricefeatures-title,
  .price-title,
  .spec-title,
  .contact-title {
    max-width: 800px;
    margin: 0 auto 3.3rem;
    margin-bottom: 1.9rem;
    font-size: 28px;
    font-weight: bold;
  }
}

.gallery-title::after,
.pricefeatures-title::after,
.price-title::after,
.spec-title::after,
.contact-title::after {
  position: absolute;
  bottom: -6px;
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #ddd;
  border-left: 50px solid #168352;
}

@media (min-width: 768px) {
  .gallery-title::after,
  .pricefeatures-title::after,
  .price-title::after,
  .spec-title::after,
  .contact-title::after {
    bottom: -20px;
    height: 5px;
    border-left: 100px solid #168352;
  }
}


/* price
haeder
------------------------------------------ */

/* ページ毎の個別デザイン用 */
@media (min-width: 768px) {
  #page-price .price-a {
    color: #168352;
  }
}

/* price
cover
------------------------------------------ */

@media (min-width: 768px) {
  .pricecover-inner {
    position: relative;
  }
}

.pricecover-img {
  padding-top: 1.3rem;
  text-align: center;
}

@media (min-width: 768px) {
  .pricecover-img {
    padding-top: 2.5rem;
  }
}

.pricecover-title {
  padding-top: 0.6rem;
  margin-bottom: 1rem;
  font-size: 30px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .pricecover-title {
    position: absolute;
    top: 80%;
    left: 0;
    width: 26.7rem;
    height: 115px;
    padding: 1.35rem 0 0 6.4rem;
    font-size: 36px;
    text-align: center;
    background-color: #fff;
    border-radius: 0 35px 0 0;
  }
}

/* price
パンクズリスト
------------------------------------------ */
.breadcrumb-nav {
  padding-bottom: 1.7rem;
}

@media (min-width: 768px) {
  .breadcrumb-nav {
    padding-top: 0.7rem;
    padding-right: 5.2rem;
    padding-bottom: 3rem;
  }
}

.breadcrumb-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumb-nav li {
  font-size: 12px;
}

.breadcrumb-nav li:not(:last-child)::after {
  display: inline-block;
  margin: 6px 5.6px;
  font-size: 25px;
  line-height: 0;
  content: "›";
}


/* price
gallery
------------------------------------------ */
@media (min-width: 768px) {
  .gallery-title {
    margin-bottom: 3.1rem;
  }
}

.swiper {
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .swiper {
    padding-bottom: 1.7rem;
  }
}

.swiper-wrapper {
  max-width: 360px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .swiper-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
}

.slick-dots {
  bottom: 7px;
}

@media (min-width: 768px) {
  .slick-dots {
    bottom: 20px;
  }
}

.slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0 3px;
}

.slick-dots li button {
  width: 0.5rem;
  height: 0.5rem;
  padding: 0;
  background-color: #ddd;
  border-radius: 50%;
}

.slick-dots li button::before {
  width: 0.5rem;
  height: 0.5rem;
  line-height: normal;
  color: #ddd;
}

.slick-dots li button:hover::before,
.slick-dots li.slick-active button::before {
  color: #168352;
  background-color: #168352;
  border-radius: 50%;
  opacity: 1;
}

/* price
Features
------------------------------------------ */
@media (min-width: 768px) {
  .pricefeatures-title {
    margin-bottom: 3.4rem;
  }
}

.pricefeatures-list-group {
  width: 360px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .pricefeatures-list-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
  }
}

.pricefeatures-list-item {
  margin-bottom: 2.2rem;
}

@media (min-width: 768px) {
  .pricefeatures-list-item {
    max-width: 30.8%;
    margin-bottom: 0;
  }
}

.pricefeatures-list-item-text {
  font-size: 18px;
}

/* price
price
------------------------------------------ */
.price-title {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .price-title {
    margin-top: 3.2rem;
    margin-bottom: 2.2rem;
  }
}

.price p {
  padding-bottom: 2.65rem;
  font-size: 32px;
  font-weight: bold;
  color: #168352;
}

@media (min-width: 768px) {
  .price p {
    width: 100%;
    max-width: 800px;
    padding-bottom: 3rem;
    margin: 0 auto;
  }
}

.price p .small {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

/* price
spec
------------------------------------------ */
.spec-title {
  margin-bottom: 1.7rem;
}

@media (min-width: 768px) {
  .spec-title {
    margin-bottom: 3.1rem;
  }
}

.spec-title::after {
  bottom: -7px;
}

@media (min-width: 768px) {
  .spec-title::after {
    bottom: -20px;
  }
}

.spec-subtitle {
  position: relative;
  max-width: 360px;
  padding-bottom: 1rem;
  padding-left: 1.1rem;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .spec-subtitle {
    max-width: 740px;
    padding-bottom: 1.5rem;
    padding-left: 1.2rem;
    font-size: 24px;
  }
}

.spec-subtitle::after {
  position: absolute;
  bottom: 17px;
  left: 0;
  display: block;
  width: 2px;
  height: 30px;
  content: "";
  background-color: #168352;
}

@media (min-width: 768px) {
  .spec-subtitle::after {
    bottom: 24px;
    width: 3px;
    height: 41px;
  }
}

.spec-container {
  padding-bottom: 4rem;
}

@media (min-width: 768px) {
  .spec-container {
    padding-bottom: 4.5rem;
  }
}

.spec-table {
  width: 100%;
  max-width: 358px;
  margin: 0 auto;
  border-collapse: collapse;
}

@media (min-width: 768px) {
  .spec-table {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .spec-table th,
  .spec-table td {
    display: block;
    width: 100%;
    height: 39px;
    padding: 0.3rem 0 0 1.2rem;
    text-align: left;
    border: 1px solid #ddd;
  }
}

@media (min-width: 768px) {
  .spec-table th,
  .spec-table td {
    width: 100%;
    height: 62.7px;
    padding: 0 0 0 1.2rem;
    text-align: left;
    border: 1px solid #ddd;
  }
}

.spec-table th {
  font-weight: bold;
  background-color: #f5f5f5;
}

@media (min-width: 768px) {
  .spec-table th {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .spec-table td {
    width: 540px;
    padding-left: 1.35rem;
  }
}

.table-th,
.table-td {
  vertical-align: middle;
}

/* price
contact
------------------------------------------ */
.contact {
  height: 360px;
  background-image: url("/assets/image/bg_products_service_contact_sp.jpg");
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .contact {
    height: 450px;
    background-image: url("/assets/image/bg_products_service_contact_pc.jpg");
    background-position: center;
    background-size: cover;
  }
}

/* ボタン */
.contact-button {
  padding-top: 8.9rem;
  text-align: center;
}

@media (min-width: 768px) {
  .contact-button {
    padding-top: 11.7rem;
    text-align: center;
  }
}

.button-color {
  width: 358px;
  height: 80px;
  font-size: 20px;
  border: #fff solid 2px;
  border-radius: 40px;
}

.button-color:hover {
  color: #168352;
  background-color: #fff;
}





/* faq
all
------------------------------------------ */
.faqcover-inner,
.breadcrumb,
.qanda-inner {
  padding: 0 1rem;
}

/* faq
haeder
------------------------------------------ */

/* ページ毎の個別デザイン用 */
@media (min-width: 768px) {
  #page-faq .faq-a {
    color: #168352;
  }
}

/*
cover
------------------------------------------ */

@media (min-width: 768px) {
  .faqcover-inner {
    position: relative;
  }
}

.faqcover-img {
  padding-top: 1.3rem;
  text-align: center;
}

@media (min-width: 768px) {
  .faqcover-img {
    padding-top: 2.5rem;
  }
}

.faqcover-title {
  padding-top: 0.6rem;
  margin-bottom: 1rem;
  font-size: 30px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .faqcover-title {
    position: absolute;
    top: 80%;
    left: 0;
    width: 26.7rem;
    height: 115px;
    padding: 1.35rem 0 0 6.4rem;
    font-size: 36px;
    text-align: center;
    background-color: #fff;
    border-radius: 0 35px 0 0;
  }
}

/*
パンクズリスト
------------------------------------------ */
#page-faq .breadcrumb-nav {
  padding-bottom: 2.2rem;
}

@media (min-width: 768px) {
  #page-faq .breadcrumb-nav {
    padding-top: 0.7rem;
    padding-right: 4.2rem;
    padding-bottom: 3.7rem;
  }
}

/*
qanda　アコーディオン
------------------------------------------ */

.qanda-section {
  padding-bottom: 18px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .qanda-section {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .qanda-section.open-padding {
    padding-bottom: 0;
  }

  .qanda .second {
    padding-bottom: 16px;
  }

  .qanda .fourth {
    padding-bottom: 19px;
  }

  .qanda .fifth {
    padding-bottom: 18px;
  }

  .qanda-section.fifth.open-padding {
    padding-bottom: 17px;
  }

  .qanda .sixth {
    padding-bottom: 18px;
  }

  .qanda .seventh {
    padding-bottom: 20px;
  }

  .qanda-section.seventh.open-padding {
    padding-bottom: 17px;
  }

  .qanda .eighth {
    padding-bottom: 17px;
  }

  .qanda .ninth {
    padding-bottom: 19px;
  }

  .qanda .tenth {
    padding-bottom: 17px;
  }

  .qanda .eleven {
    padding-bottom: 20px;
  }

  .qanda-section.eleven.open-padding {
    padding-bottom: 17px;
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 10.6rem;
}

@media (min-width: 768px) {
  .accordion {
    row-gap: 23px;
    max-width: 800px;
    margin: 0 auto;
  }
}

.accordion.open-gap {
  row-gap: 24px;
}

.accordion-title {
  position: relative;
  display: flex;
  padding: 17.6px 19.2px 0;
}

@media (min-width: 768px) {
  .accordion-title {
    padding: 1rem 1.7rem;
    white-space: nowrap
  }
}

@media (min-width: 768px) {
  .qanda .second .accordion-title {
    padding-bottom: 0;
  }

  .qanda .fourth .accordion-title {
    padding-bottom: 18px;
  }

  .qanda .fourth .accordion-title.open {
    padding-bottom: 15px;
  }

  .qanda .sixth .accordion-title {
    padding-bottom: 17px;
  }

  .qanda .seventh .accordion-title {
    padding-bottom: 18px;
  }

  .qanda .ninth .accordion-title {
    padding-bottom: 17px;
  }

  .qanda .ninth .accordion-title.open {
    padding-bottom: 15px;
  }

  .qanda .tenth .accordion-title.open {
    padding-bottom: 17px;
  }
}

.qanda-section .accordion-q {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 1rem;
  margin-right: 0.9rem;
  border-radius: 100px;
}

@media (min-width: 768px) {
  .qanda-section .accordion-q {
    margin-right: 0.8rem;
  }
}

.qanda .montserrat {
  font-size: 24px;
}

.accordion-q-group {
  width: 72%;
  margin-top: 0.3rem;
}

@media (min-width: 768px) {
  .accordion-q-group {
    width: 72%;
    margin-top: 0.5rem;
  }
}

.accordion-q-text-top {
  width: 100px;
  padding: 0.3px 2px 2.5px 0;
  font-size: 11px;
  text-align: center;
  border: 1px solid #168352;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .accordion-q-text-top {
    padding: 0 0 0.15rem;
  }
}

.accordion-q-text-bottom {
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .accordion-q-text-bottom {
    margin-top: 0.5rem;
    font-size: 18px;
    font-weight: bold;
  }
}

.qanda .accordion .bi {
  position: absolute;
  top: 3px;
  right: 15px;
  font-size: 35px;
}

@media (min-width: 768px) {
  .qanda .accordion .bi {
    top: 4px;
    right: 23px;
  }
}

/* アコーディオンのコンテンツ部分 */
.accordion-content {
  display: none;
  /* 初期状態は非表示 */
  padding: 0.1rem 1.5rem 0;
}

.qanda-section.open-padding .accordion-content {
  padding-bottom: 1.1rem;
}

/* アコーディオンのコンテンツ部分 */
@media (min-width: 768px) {
  .accordion-content {
    padding: 0 1.5rem 1.2rem 2rem;
  }
}

@media (max-width: 767px) {
  .qanda .second .accordion-content {
    padding: 0.1rem 1.7rem 0.1rem 1.5rem;
    word-break: break-all;
    line-break: anywhere;
  }

  .qanda .fourth .accordion-content {
    padding: 0.1rem 1.6rem 0;
  }

  .qanda .fifth .accordion-content {
    padding: 0 1.6rem;
  }

  .qanda .sixth .accordion-content {
    padding: 0.1rem 1.6rem 0;
  }

  .qanda .seventh .accordion-content {
    padding: 0.1rem 1.4rem 0.1rem 1.65rem;
  }

  .qanda .eighth .accordion-content {
    padding: 0.1rem 1.6rem;
  }

  .qanda .ninth .accordion-content {
    padding: 0 1.6rem;
  }

  .qanda .tenth .accordion-content {
    padding: 0.2rem 1.6rem 0;
  }

  .qanda .eleven .accordion-content {
    padding: 0.6rem 1.6rem 0;
  }
}

.accordion-q-group .flex {
  display: flex;
  column-gap: 8px;
}

@media (min-width: 768px) {
  #page-faq .footer .flex {
    padding-left: 1rem;
  }
}
