@charset "UTF-8";

/* ベースのスタイル
------------------------------------------ */
body {
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: normal;

  /* 通常は400（normal） */
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.cover-inner,
.contact-inner,
.product-container,
.voices-inner,
.container,
.footer-inner {
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .cover-inner,
  .contact-inner,
  .product,
  .voices-inner,
  .container,
  .footer-inner {
    padding: 0 9.375rem;
  }
}

li {
  list-style: none;
}


/* 部品
------------------------------------------ */
.marcellus {
  font-family: Marcellus, serif;
  font-weight: normal;
}

h3 {
  font-family: "EB Garamond", serif;
  font-weight: bold;
}

.button {
  display: block;
  max-width: 18.75rem;
  height: 3.625rem;
  padding-top: 0.8rem;
  margin: 0 auto;
  font-size: 1.125rem;
  line-height: 1.7;
  color: #fff;
  text-align: center;
  border-radius: 3rem;
}


/* main
------------------------------------------ */

.cover {
  position: relative;
  width: 100vw;
  height: 28.125rem;
  background-image: url("./assets/image/mainVisual_sp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .cover {
    max-width: 100%;
    height: 45rem;
    background-image: url("./assets/image/mainVisual_pc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.cover-title {
  padding-top: 1.5rem;
}

@media (min-width: 768px) {
  .cover-title {
    padding-top: 2rem;
  }
}

.cover-title-logo {
  width: 8.9375rem;
  height: auto;
  margin: auto;
}

@media (min-width: 768px) {
  .cover-title-logo {
    width: 10.375rem;
    height: auto;
    margin: auto;
  }
}

.cover-text-box {
  position: absolute;
  bottom: -6.8rem;
}

@media (min-width: 768px) {
  .cover-text-box {
    top: 37.5%;
    left: 14.4%;
  }
}

.cover-subtitle {
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
  font-size: 2.6rem;
  line-height: 1.25;
  letter-spacing: 12px;
}

@media (min-width: 768px) {
  .cover-subtitle {
    padding-bottom: 0.4rem;
    padding-left: 0.4rem;
    font-size: 3rem;
    line-height: 1.4;
    letter-spacing: 16px;
  }
}

/* 改行 */
.br-sp {
  display: block;
}

.cover-text {
  padding-left: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0.35em;
}

@media (min-width: 768px) {
  .cover-text {
    padding-left: 5px;
    font-size: 1.5625rem;
    line-height: 1.5;
    letter-spacing: 0.3em;
  }
}

/* コンタクト
------------------------------------------ */
.contact-inner {
  padding-top: 9.8rem;
  padding-bottom: 3.2rem;
}

@media (min-width: 768px) {
  .contact-inner {
    padding: 3rem 1rem;
  }
}

.contact-inner-box {
  padding: 1.1rem 0 2rem;
  background-color: #f0f4ff;
}

@media (min-width: 768px) {
  .contact-inner-box {
    display: flex;
    max-width: 62.5rem;
    padding: 2.4rem 3rem 1.3rem 1.8rem;
    margin: 0 auto;
    background-color: #f0f4ff;
  }
}

.contact-catch {
  padding-bottom: 1.2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .contact-catch {
    padding-left: 1.2rem;
    margin-right: 4rem;
  }
}

.contact-catch p:first-of-type {
  padding-bottom: 0.1rem;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
}

@media (min-width: 768px) {
  .contact-catch p:first-of-type {
    padding-bottom: 0.2rem;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    white-space: nowrap;
  }
}

.contact-catch p:last-of-type {
  padding-left: 5px;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
}

@media (min-width: 768px) {
  .contact-catch p:last-of-type {
    padding-left: 0;
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
  }
}

.contact-catch p span {
  padding-left: 4px;
}

@media (min-width: 768px) {
  .contact-catch p span {
    padding-left: 6px;
  }
}

.button-blue {
  white-space: nowrap;
  background-color: #46c4db;
}

.button-blue:hover {
  color: #46c4db;
  background: #fff;
  border: 2px solid #46c4db;
}

.contact-button-first {
  margin-bottom: 1.2rem;
}

@media (min-width: 768px) {
  .contact-button-first {
    margin-top: 0.4rem;
    margin-right: 2.4rem;
  }
}

@media (min-width: 768px) {
  .contact-button-second {
    margin-top: 0.4rem;
  }
}

.button-green {
  width: 100%;
  padding-top: 0;
  background-color: #5cd5aa;
}

.button-green:hover {
  color: #5cd5aa;
  background: #fff;
  border: 2px solid #5cd5aa;
}

@media (min-width: 768px) {
  .contact-button-first,
  .contact-button-second {
    width: 33%;
  }
}

/* 製品
------------------------------------------ */
.product {
  max-width: 100vw;
  height: 42.5rem;
  padding-top: 2.7rem;
  padding-bottom: 3.5rem;
  background-image: url("./assets/image/cream_sp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .product {
    height: 34.375rem;
    padding: 7.6rem 16.4% 5.3rem;
    background-image: url("./assets/image/cream_pc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .product-container {
    max-width: 424px;
    height: 100%;
    padding: 0;
    margin: 0 0 0 auto;
  }
}

.product-inner {
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  .product-inner {
    display: flex;
    flex-direction: column;
    column-gap: 3.125rem;
    align-items: flex-start;
    justify-content: center;
  }
}

.product-title {
  font-size: 1.875rem;
  letter-spacing: -0.01rem;
}

@media (min-width: 768px) {
  .product-title {
    font-size: 2.375rem;
  }
}

.product-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8;

}

@media (min-width: 768px) {
  .product-subtitle {
    font-size: 1.5rem;
    line-height: 1.7;
  }
}

.product-text {
  padding-top: 0.6rem;
  font-size: 0.875rem;
  line-height: 2.3;
  text-align: left;
}

@media (min-width: 768px) {
  .product-text {
    padding-top: 1rem;
  }
}

/* Voices
------------------------------------------ */
.voices {
  padding-top: 2.9rem;
  padding-bottom: 4.7rem;
}

@media (min-width: 768px) {
  .voices {
    padding-top: 4.5rem;
    padding-bottom: 7.2rem;
  }
}

.voices-inner-text {
  text-align: center;
}

.voices-title {
  font-size: 1.875rem;
  letter-spacing: 0.08rem;
}

@media (min-width: 768px) {
  .voices-title {
    font-size: 2.8125rem;
    letter-spacing: 2px;
  }
}

.voices-subtitle {
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.8px;
}

@media (min-width: 768px) {
  .voices-subtitle {
    font-size: 1.25rem;
    line-height: 1.7;
    letter-spacing: 0.1rem;
  }
}

.voices-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.2rem;
}

@media (min-width: 768px) {
  .voices-list {
    max-width: 72.1875rem;
    height: 388px;
    margin: 2.2rem auto 0;
  }
}

/* slick.css */
.slick-list {
  width: 17.5rem;
  height: 21.5rem;
  padding: 1.8rem 0.95rem;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .slick-list {
    background-color: #dbf7fa;
  }
}

@media (min-width: 768px) {
  .slick-list {
    width: 1020px;
    height: 388px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .voice-item {
    width: 300px;
    height: 388px;
    padding: 2.6rem 1rem;
    margin: 0 20px;
    background-color: #dbf7fa;
  }
}

.voice-item img {
  width: 5rem;
  margin-left: 37%;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .voice-item img {
    width: 6.25rem;
    height: 6.25rem;
    margin-left: 31%;
  }
}

.voice-item-name {
  margin-top: 0.4rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  .voice-item-name {
    font-size: 1rem;
  }
}

.voice-item-text {
  margin-top: 0.9rem;
  font-size: 0.875rem;
  line-height: 2;
}

@media (min-width: 768px) {
  .voice-item-text {
    margin-top: 0.7rem;
    font-size: 1rem;
    line-height: 1.75;
  }
}

/* Slick矢印 */
.slick-arrow {
  position: absolute;
  top: 46%;
  z-index: 1;
  width: 32px;
  height: 32px;
  font-size: 1.9rem;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  background-color: #00afbe;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .slick-arrow {
    top: 44%;
    width: 48px;
    height: 48px;
    font-size: 2.5rem;
  }
}

.prev-arrow {
  left: 0;
}

.next-arrow {
  right: 0;
}

/* Slickドット */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: -1.65rem;
  display: flex;
  column-gap: 0.43rem;
  justify-content: center;
}

@media (min-width: 768px) {
  .slick-dots {
    bottom: -2.3rem;
  }
}

.slick-dots li {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0;
}

.slick-dots li button {
  width: 0.625rem;
  height: 0.625rem;
  padding: 0;
  background-color: #eee;
  border-radius: 50%;
}

.slick-dots li button::before {
  width: 0.625rem;
  height: 0.625rem;
  font-size: 10px;
  line-height: normal;
  border-radius: 50%;
  opacity: 0;
}

.slick-dots li button:hover::before,
.slick-dots li.slick-active button::before {
  color: #00afbf;
  opacity: 1;
}

/* qanda アコーディオン
------------------------------------------ */
.qanda {
  /* 背景色（透明） */
  background-color: transparent;

  /* 線形グラデーション（左→右） */
  background-image: linear-gradient(90deg, #F4FFE8 0%, #C6F0FE 100%);

  /* 背景画像の繰り返し（しない） */
  background-repeat: no-repeat;

  /* 背景画像の開始位置（左上） */
  background-position: 0% 0%;

  /* 背景の描画範囲（パディングボックスまで） */
  background-origin: padding-box;
  opacity: 1;
}

.qanda .container {
  padding-bottom: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .qanda .container {
    padding-bottom: 2.5rem;
  }
}

.qanda-inner {
  padding-top: 1.8rem;
  margin-bottom: 2.3rem;
}

@media (min-width: 768px) {
  .qanda-inner {
    padding-top: 2rem;
  }
}

.qanda-title {
  padding-left: 0.2rem;
  font-size: 1.875rem;
  letter-spacing: 0.1rem;
}

@media (min-width: 768px) {
  .qanda-title {
    font-size: 2.8125rem;
    letter-spacing: 0.12rem;
  }
}

.qanda-subtitle {
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.05rem;
}

@media (min-width: 768px) {
  .qanda-subtitle {
    font-size: 1.25rem;
    line-height: 1.7;
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .accordion {
    row-gap: 23px;
    max-width: 600px;
  }
}

.qanda-section {
  background-color: #fff;
}

.accordion-title {
  position: relative;
  display: flex;
  padding: 17px 40px 11px 15px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .accordion-title {
    padding: 21px 50px 17px 24px;
  }
}

.accordion-q,
.accordion-a {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .accordion-q {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .accordion-a {
    font-size: 18px;
    line-height: 1.6;
  }
}

.accordion-q-text,
.accordion-a-text {
  font-size: 0.9375rem;
}

.accordion-q-text {
  padding-left: 0.8rem;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.9;
  text-align: left;
}

@media (min-width: 768px) {
  .accordion-q-text {
    padding-left: 0;
    margin-left: 1rem;
    line-height: 2;
  }
}

.accordion-title .bi {
  position: absolute;
  top: 19px;
  right: 13px;
  transition: transform 0.3s;
}

@media (min-width: 768px) {
  .accordion-title .bi {
    top: 24px;
    right: 22px;
    font-size: 1.1rem;
  }
}

.icon-active .bi-caret-down-fill {
  top: 19px;
  right: 13px;
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .icon-active .bi-caret-down-fill {
    top: 24px;
    right: 22px;
  }
}

@media (min-width: 768px) {
  .accordion-a-text {
    margin-left: 1.1rem;
    line-height: 1.85;
    text-align: left;
  }
}

/* アコーディオンのコンテンツ部分 */
.accordion-content {
  display: none;

  /* 初期状態は非表示 */
  background-color: #fff;
  border-radius: 0 0 0.5rem 0.5rem;
}

.accordion-title-first {
  column-gap: 0.6rem;
  padding: 0 13px 30px 15px;
  line-height: 1.85;
  letter-spacing: 0;
}

@media (min-width: 768px) {
  .accordion-title-first {
    column-gap: 0;
    padding: 0 34px 22px 24px;
    line-height: 1.8;
    letter-spacing: 0;
  }
}

.accordion-title-second {
  padding-bottom: 14px;
}

@media (min-width: 768px) {
  .accordion-title-second {
    padding-bottom: 20px;
  }
}

.accordion-title-third {
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .accordion-title-third {
    padding-top: 23px;
    padding-bottom: 20px;
  }
}

.accordion-title-fourth {
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .accordion-title-fourth {
    padding-bottom: 20px;
  }
}

.accordion-title-fifth {
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .accordion-title-fifth {
    padding-bottom: 20px;
  }
}

.accordion-title-second .bi,
.accordion-title-third .bi,
.accordion-title-fourth .bi,
.accordion-title-fifth .bi {
  top: 21px;
}

@media (min-width: 768px) {
  .accordion-title-second .bi,
  .accordion-title-third .bi,
  .accordion-title-fourth .bi,
  .accordion-title-fifth .bi {
    top: 23px;
  }
}


/* コンタクト second
------------------------------------------ */
.contact-inner-second {
  padding-top: 3.2rem;
  padding-bottom: 0.7rem;
}

@media (min-width: 768px) {
  .contact-inner-second {
    padding: 3rem 1rem 0.6rem;
  }
}

.contact .second .price {
  padding-left: 4px;
}

@media (min-width: 768px) {
  .contact .second .price {
    padding-left: 6px;
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
  }
}

/* スクロール
------------------------------------------ */
#scroll-top-btn {
  /* 初期は非表示 */
  width: 40px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  background-color: #0071cf;
  border: none;
}

.scroll-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#scroll-top-btn:hover {
  color: #0071cf;
  background: #fff;
  border: 2px solid #0071cf;
}

#scroll-top-btn .bi {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 4px;
  font-size: 2rem;
}



/* footer
------------------------------------------ */
.footer-container {
  padding: 1.5rem 0;
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  background-color: #0071cf;
}

@media (min-width: 768px) {
  .footer-container {
    padding: 2rem 1rem;
  }
}

.footer-inner {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  align-items: center;
}

@media (min-width: 768px) {
  .footer-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    white-space: nowrap;
  }
}

.footer-logo {
  width: 10.4rem;
}

@media (min-width: 768px) {
  .footer-logo {
    width: 190px;
    margin-left: 2rem;
  }
}

.footer-inner-links {
  display: flex;
  column-gap: 1.9rem;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer-inner-links {
    column-gap: 2rem;
    margin: 0 0 5px 48px;
  }
}

.footer-links li {
  font-size: 12px;
}

@media (min-width: 768px) {
  .footer-links li {
    font-size: 14px;
  }
}

.footer-copyright {
  margin-top: 0.2rem;
  font-size: 11px;
}

@media (min-width: 768px) {
  .footer-copyright {
    margin-top: 0;
    margin-right: 2.1rem;
    font-size: 12px;
  }
}